
  <h1>Scott's Blog</h1>
  <div nav class="nav">
  </div>
  <div class="search">
      <input type="text" id="search" placeholder="Search For a Topic...." data-ng-model="search">
  </div>
  <div class="blog">
    <div ng-controller="BlogController">

      <div class="blog-post" id="{{blog.id}}" ng-repeat="blog in blogs | filter:search" ng-click="go('/post' + blog.id)">

        <div class="content">
          <p class="title"><strong>{{blog.title}}</strong></p>
          <p></p>
          <p class="post">{{blog.post}}</p>
          <p class="date">{{blog.date | date}} : {{blog.subject}}</p>
      </div>
      </div>
    </div>
    </div>
  </div>

